

@import url('https://fonts.googleapis.com/css?family=Cardo|Marcellus');


body {
    background-color: rgb(242,242, 242);
    font-family: 'Marcellus', serif;
}
h1 {
    color: rgb(242, 242,242);
}
p {
    color: rgb(128, 118, 118);
}

.center {
    color: rgb(128,118,118);
}